:root {
  --alert-error-bg-color: var(--color-error-1);
  --alert-error-border-color: var(--theme-error-color);
  --alert-error-icon-color: var(--theme-error-color);
  --alert-info-bg-color: var(--color-brand-2);
  --alert-info-border-color: var(--color-brand-5);
  --alert-info-icon-color: var(--color-brand-5);
  --alert-success-bg-color: var(--color-success-1);
  --alert-success-border-color: var(--theme-success-color);
  --alert-success-icon-color: var(--theme-success-color);
  --alert-warning-bg-color: var(--color-warning-1);
  --alert-warning-border-color: var(--theme-warning-color);
  --alert-warning-icon-color: var(--theme-warning-color);
  --alert-with-description-icon-top: 24px;
  --alert-with-description-padding: 8px 15px 8px 39px;
  --alert-padding: 8px 20px 8px 37px;
  --alert-no-icon-padding: 8px 15px;
  --alert-icon-padding-right: 8px;
  --alert-close-icon-margin-left: 8px;
  --anchor-ink-ball-width: 8px;
  --anchor-ink-ball-height: 8px;
  --anchor-ink-ball-border: 2px solid var(--theme-primary-color);
  --anchor-ink-ball-border-radius: 8px;
  --anchor-ink-ball-margin-top: 0px;
  --back-top-bg: var(--color-gray-7);
  --back-top-hover-bg: var(--color-gray-8);
  --back-top-active-bg: var(--color-gray-8);
  --back-top-transparent-bg: rgba(0,0,0,.6);
  --back-top-transparent-hover-bg: rgba(0,0,0,.5);
  --back-top-transparent-active-bg: rgba(0,0,0,.7);
  --back-top-icon-size: 24px;
  --badge-count-padding: 0 6px;
  --breadcrumb-last-child-font-weight: normal;
  --btn-disable-bg: var(--color-gray-1);
  --btn-disable-border: var(--color-gray-4);
  --btn-disable-color: var(--theme-disabled-color);
  --btn-default-bg: var(--theme-component-bg);
  --btn-default-border-color: var(--theme-border-color-base);
  --btn-default-color: var(--theme-text-color);
  --btn-default-active-bg: var(--color-gray-4);
  --btn-default-active-border-color: var(--color-brand-4);
  --btn-default-active-color: var(--theme-text-color);
  --btn-default-disable-bg: var(--theme-component-bg);
  --btn-default-disable-border-color: var(--btn-disable-border);
  --btn-default-disable-color: var(--btn-disable-color);
  --btn-default-focus-bg: var(--theme-component-bg);
  --btn-default-focus-border-color: var(--color-brand-4);
  --btn-default-focus-color: var(--theme-text-color);
  --btn-default-hover-bg: var(--color-gray-3);
  --btn-default-hover-border-color: var(--color-gray-5);
  --btn-default-hover-color: var(--theme-text-color);
  --btn-default-loading-bg: var(--btn-disable-bg);
  --btn-default-loading-border-color: var(--btn-disable-border);
  --btn-default-loading-color: var(--btn-disable-color);
  --btn-primary-bg: var(--theme-primary-color);
  --btn-primary-border-color: var(--theme-primary-color);
  --btn-primary-color: var(--color-gray-1);
  --btn-primary-active-bg: var(--color-brand-7);
  --btn-primary-active-border-color: var(--color-brand-7);
  --btn-primary-active-color: var(--color-gray-1);
  --btn-primary-disable-bg: var(--btn-disable-bg);
  --btn-primary-disable-border-color: var(--btn-disable-border);
  --btn-primary-disable-color: var(--btn-disable-color);
  --btn-primary-focus-bg: var(--theme-primary-color);
  --btn-primary-focus-border-color: var(--theme-primary-color);
  --btn-primary-focus-color: var(--color-gray-1);
  --btn-primary-hover-bg: var(--color-brand-5);
  --btn-primary-hover-border-color: var(--color-brand-5);
  --btn-primary-hover-color: var(--color-gray-1);
  --btn-primary-loading-bg: var(--theme-primary-color);
  --btn-primary-loading-border-color: var(--theme-primary-color);
  --btn-primary-loading-color: var(--color-gray-1);
  --btn-link-bg: transparent;
  --btn-link-border-color: transparent;
  --btn-link-color: var(--link-color);
  --btn-link-active-bg: transparent;
  --btn-link-active-border-color: transparent;
  --btn-link-active-color: var(--theme-primary-color);
  --btn-link-disable-bg: transparent;
  --btn-link-disable-border-color: transparent;
  --btn-link-disable-color: var(--btn-disable-color);
  --btn-link-focus-bg: transparent;
  --btn-link-focus-border-color: var(--theme-primary-color-active);
  --btn-link-focus-color: var(--theme-primary-color);
  --btn-link-hover-bg: transparent;
  --btn-link-hover-border-color: transparent;
  --btn-link-hover-color: var(--color-brand-4);
  --btn-link-loading-bg: transparent;
  --btn-link-loading-border-color: transparent;
  --btn-link-loading-color: var(--btn-disable-color);
  --btn-icon-bg: transparent;
  --btn-icon-border-color: transparent;
  --btn-icon-color: var(--theme-text-color);
  --btn-icon-active-bg: transparent;
  --btn-icon-active-border-color: transparent;
  --btn-icon-active-color: var(--theme-primary-color);
  --btn-icon-disable-bg: transparent;
  --btn-icon-disable-border-color: transparent;
  --btn-icon-disable-color: var(--btn-disable-color);
  --btn-icon-focus-bg: transparent;
  --btn-icon-focus-border-color: var(--color-brand-4);
  --btn-icon-focus-color: var(--theme-primary-color);
  --btn-icon-hover-bg: transparent;
  --btn-icon-hover-border-color: transparent;
  --btn-icon-hover-color: var(--theme-primary-color-hover);
  --btn-icon-loading-bg: transparent;
  --btn-icon-loading-border-color: transparent;
  --btn-icon-loading-color: var(--btn-disable-color);
  --btn-strong-bg: var(--theme-component-bg);
  --btn-strong-border-color: var(--theme-primary-color);
  --btn-strong-color: var(--theme-primary-color);
  --btn-strong-active-bg: var(--color-brand-3);
  --btn-strong-active-border-color: var(--theme-primary-color);
  --btn-strong-active-color: var(--theme-primary-color);
  --btn-strong-disable-bg: var(--btn-disable-bg);
  --btn-strong-disable-border-color: var(--btn-disable-border);
  --btn-strong-disable-color: var(--btn-disable-color);
  --btn-strong-focus-bg: var(--theme-component-bg);
  --btn-strong-focus-border-color: var(--theme-primary-color);
  --btn-strong-focus-color: var(--theme-primary-color);
  --btn-strong-hover-bg: var(--color-brand-2);
  --btn-strong-hover-border-color: var(--theme-primary-color);
  --btn-strong-hover-color: var(--theme-primary-color);
  --btn-strong-loading-bg: var(--color-brand-2);
  --btn-strong-loading-border-color: var(--theme-primary-color);
  --btn-strong-loading-color: var(--btn-disable-color);
  --btn-border-radius-base: 4px;
  --btn-loading-text-display: none;
  --btn-link-margin: 0;
  --btn-link-padding: 0 4px;
  --btn-link-text-decoration: underline;
  --checkbox-border-color: var(--theme-border-color-base);
  --checkbox-hover-bg: var(--color-gray-3);
  --checkbox-hover-border-color: var(--theme-border-color-base);
  --checkbox-focus-bg: var(--color-gray-1);
  --checkbox-active-border-color: var(--theme-border-color-base);
  --checkbox-disabled-bg: var(--color-gray-1);
  --checkbox-disabled-border-color: var(--theme-border-color-disabled);
  --checkbox-disabled-color: var(--theme-disabled-color);
  --checkbox-checked-bg: var(--theme-primary-color);
  --checkbox-checked-border-color: transparent;
  --checkbox-checked-hover-bg: var(--theme-primary-color-hover);
  --checkbox-checked-hover-border-color: var(--theme-primary-color-hover);
  --checkbox-checked-focus-bg: var(--theme-primary-color);
  --checkbox-checked-focus-border-color: var(--theme-border-color-base);
  --checkbox-checked-focus-box-shadow: var(--theme-component-focus-box-shadow);
  --checkbox-checked-disabled-bg: var(--color-gray-1);
  --checkbox-checked-disabled-border-color: var(--theme-border-color-disabled);
  --checkbox-checked-disabled-inner-color: var(--theme-border-color-disabled);
  --checkbox-padding-horizontal: 8px;
  --checkbox-group-item-margin-right: 8px;
  --checkbox-border-radius: 4px;
  --checkbox-top: 0.2em;
  --collapse-content-bg: var(--theme-component-bg);
  --collapse-header-bg: var(--color-gray-2);
  --collapse-disabled-color: var(--theme-disabled-color);
  --collapse-expand-icon-color: var(--theme-text-color);
  --collapse-expand-icon-bg: var(--color-gray-3);
  --collapse-border-color: 1px solid var(--theme-border-color-base);
  --collapse-bg: var(--collapse-header-bg);
  --collapse-header-font-weight: 600;
  --collapse-header-font-size: 14px;
  --collapse-header-height: 32px;
  --collapse-content-box-padding-top: 8px;
  --collapse-content-box-padding-bottom: 8px;
  --collapse-arrow-top: 7px;
  --collpase-item-header-margin-bottom: 0px;
  --date-picker-suffix-color: var(--theme-text-color);
  --drawer-title-font-size: 14px;
  --drawer-footer-border-top-color: var(--theme-border-color-split);
  --drawer-close-icon-line-height: 1;
  --dropdown-menu-min-width: 128px;
  --dropdown-menu-item-padding: 5px 16px;
  --dropdown-menu-item-group-title-padding: 4px 16px 0px 16px;
  --form-item-explain-icon-display: inline-block;
  --input-error-focus-background-color: var(--theme-component-bg);
  --input-focus-background-color: var(--theme-component-bg);
  --input-warning-focus-background-color: var(--theme-component-bg);
  --input-focus-border-color: var(--theme-border-focus-color);
  --input-number-input-height: 28px;
  --input-number-input-height-lg: 32px;
  --input-number-input-height-sm: 22px;
  --input-number-width: 90px;
  --input-suffix-icon-size: 16px;
  --input-affix-wrapper-padding-horizontal: 11px;
  --input-affix-margin: 4px;
  --input-group-addon-focus-bg: var(--theme-component-bg);
  --link-active-color: var(--color-brand-7);
  --link-color: var(--color-brand-7);
  --link-hover-color: var(--color-brand-7);
  --menu-bg: none;
  --menu-highlight-color: var(--theme-text-color);
  --menu-item-active-bg: var(--item-hover-bg);
  --menu-item-color: var(--color-gray-9);
  --menu-item-group-title-color: var(--theme-text-color-secondary);
  --menu-popup-bg: var(--theme-component-bg);
  --message-alert-success-bg-color: var(--theme-component-bg);
  --message-alert-warning-bg-color: var(--theme-component-bg);
  --message-alert-error-bg-color: var(--theme-component-bg);
  --message-alert-info-bg-color: var(--theme-component-bg);
  --message-alert-success-border-color: var(--theme-component-bg);
  --message-alert-warning-border-color: var(--theme-component-bg);
  --message-alert-error-border-color: var(--theme-component-bg);
  --message-alert-info-border-color: var(--theme-component-bg);
  --message-content-padding: 8px 16px;
  --message-text-align: center;
  --message-margin-top: 0px;
  --modal-header-bg: var(--theme-component-bg);
  --modal-padding: 24px 24px 24px 24px;
  --modal-header-close-size: 72px;
  --modal-close-icon-height: 24px;
  --modal-close-icon-line-height: 72px;
  --modal-body-border-bottom: none;
  --modal-footer-border-top: none;
  --modal-body-padding: 0px 24px;
  --modal-body-margin: 0px;
  --modal-body-max-height: calc(80vh - 70px - 80px);
  --modal-close-icon-margin-right: 0;
  --page-header-title-font-weight: normal;
  --page-header-title-font-size: 24px;
  --pagination-item-border-color: var(--color-gray-5);
  --pagination-item-hover-bg: var(--color-gray-3);
  --pagination-item-hover-color: var(--theme-text-color);
  --pagination-item-hover-border-color: var(--color-gray-5);
  --pagination-item-active-border-color: var(--color-brand-1);
  --pagination-item-active-bg: var(--color-brand-1);
  --pagination-item-active-color: var(--color-brand-7);
  --pagination-item-disabled-border-color: var(--btn-disable-border);
  --pagination-disabled-bg: var(--btn-disable-bg);
  --pagination-prev-next-icon-color: var(--theme-text-color);
  --pagination-prev-next-icon-color-disabled: var(--theme-disabled-color);
  --pagination-item-margin-right: 8px;
  --pagination-prev-next-border: 1px solid var(--pagination-item-border-color);
  --popover-font-size: 14px;
  --popover-line-height: 1.5715;
  --popover-inner-content-padding: 16px;
  --popover-title-padding: 16px 16px 0 16px;
  --progress-text-color: var(--color-gray-7);
  --progress-radius: 100px;
  --progress-circle-text-font-size: 24px;
  --progress-text-font-size: 1em;
  --radio-border-color: var(--theme-border-color-base);
  --radio-hover-border-color: var(--theme-border-color-base);
  --radio-hover-bg: var(--color-gray-3);
  --radio-checked-color: var(--color-brand-5);
  --radio-disabled-bg: var(--color-gray-1);
  --radio-disabled-dot-color: var(--color-gray-6);
  --radio-disabled-border-color: var(--theme-border-color-disabled);
  --radio-checked-disabled-border-color: var(--theme-border-color-disabled);
  --radio-checked-disabled-bg: var(--color-gray-1);
  --radio-checked-disabled-color: var(--theme-disabled-color);
  --radio-button-checked-disabled-border-color: var(--theme-border-color-disabled);
  --radio-button-checked-disabled-bg: var(--color-gray-1);
  --radio-button-checked-disabled-color: var(--theme-disabled-color);
  --radio-button-disabled-color: var(--theme-disabled-color);
  --radio-button-disabled-border-color: var(--color-gray-4);
  --radio-button-disabled-bg: var(--color-gray-1);
  --radio-button-hover-color: var(--theme-primary-color-hover);
  --radio-active-border-color: var(--theme-primary-color-active);
  --radio-hover-border-zindex: 0;
  --radio-span-padding-horizontal: 8px;
  --radio-wrapper-margin-right: 8px;
  --radio-top: 0.2em;
  --select-arrow-open-transform: none;
  --select-arrow-transition: none;
  --select-item-active-bg: var(--theme-secondary-color-hover);
  --select-item-selected-bg: var(--color-brand-1);
  --select-disabled-bg: transparent;
  --select-arrow-color: var(--theme-disabled-color);
  --select-check-icon-size: 16px;
  --select-arrow-top: 43%;
  --select-arrow-top-small: 43%;
  --select-arrow-top-large: 43%;
  --select-clear-icon-top: 43%;
  --select-clear-icon-top-small: 43%;
  --select-clear-icon-top-large: 43%;
  --select-clear-icon-right: 30px;
  --select-clear-icon-opacity: 1;
  --select-clear-icon-opacity-hover: 1;
  --space-large: 24px;
  --space-middle: 16px;
  --space-small: 8px;
  --steps-item-title-height: 30px;
  --steps-item-title-color: var(--color-gray-7);
  --steps-item-icon-color: var(--color-gray-6);
  --steps-item-active-icon-bg-color: var(--color-gray-9);
  --steps-item-active-icon-color: var(--theme-component-bg);
  --switch-min-width: 44px;
  --switch-disable-bg: var(--theme-disabled-bg);
  --switch-handle-disable-bg: var(--color-gray-5);
  --switch-hover-bg: var(--color-gray-6);
  --switch-active-bg: var(--color-gray-6);
  --switch-checked-hover-bg: var(--theme-primary-color-hover);
  --switch-checked-active-bg: var(--theme-primary-color-active);
  --switch-checked-disabled-opacity: 0.4;
  --switch-disabled-opacity: 0.4;
  --switch-bg-color: var(--theme-primary-color);
  --table-header-bg: var(--theme-component-bg);
  --table-header-color: var(--color-gray-7);
  --table-header-font-weight: 600;
  --table-row-hover-bg: var(--color-gray-3);
  --table-header-cell-border-right: none;
  --table-header-border-bottom-color: var(--color-gray-4);
  --table-pagination-margin: 16px 0;
  --tabs-highlight-color: var(--color-gray-9);
  --tabs-hover-color: var(--color-gray-9);
  --tabs-ink-bar-color: var(--color-gray-9);
  --tabs-top-before: 2px solid var(--color-gray-4);
  --tabs-border-bottom: 2px solid var(--color-gray-4);
  --tabs-tab-color: var(--color-gray-7);
  --tabs-card-bg: transparent;
  --tabs-card-nav-list-padding: 0;
  --tabs-tab-active-font-weight: normal;
  --tabs-horizontal-margin: 0 0 0 32px;
  --tag-check-border: var(--color-brand-4);
  --tag-default-bg: var(--color-gray-3);
  --tag-font-color: var(--color-gray-9);
  --tag-blue-color: var(--color-brand-2);
  --tag-green-color: var(--color-success-1);
  --tag-purple-color: var(--color-purple-1);
  --tag-red-color: var(--color-error-1);
  --tag-yellow-color: var(--color-warning-1);
  --tag-blue-bg-color: var(--tag-blue-color);
  --tag-blue-font-color: var(--tag-font-color);
  --tag-blue-solid-bg-color: var(--tag-blue-color);
  --tag-green-bg-color: var(--tag-green-color);
  --tag-green-font-color: var(--tag-font-color);
  --tag-green-solid-bg-color: var(--tag-green-color);
  --tag-red-bg-color: var(--tag-red-color);
  --tag-red-solid-bg-color: var(--tag-red-color);
  --tag-red-font-color: var(--tag-font-color);
  --tag-yellow-bg-color: var(--tag-yellow-color);
  --tag-yellow-solid-bg-color: var(--tag-yellow-color);
  --tag-yellow-font-color: var(--tag-font-color);
  --tag-padding: 0 7px;
  --tag-icon-color: var(--theme-text-color);
  --tag-icon-maring-horizontal: 4px;
  --timeline-dot-size: 10px;
  --timeline-item-content-margin-left: 26px;
  --tooltip-bg: var(--color-gray-9);
  --tooltip-color: var(--color-gray-1);
  --tooltip-min-height: 32px;
  --tree-switcher-width: 18px;
  --tree-select-selected-color: #fff;
  --color-brand-1: #E6F3FF;
  --color-brand-2: #B0D6FF;
  --color-brand-3: #87BDFF;
  --color-brand-4: #5EA1FF;
  --color-brand-5: #3683FF;
  --color-brand-6: #0C62FF;
  --color-brand-7: #0045D9;
  --color-brand-8: #0033B3;
  --color-brand-9: #00238C;
  --color-brand-10: #001666;
  --color-gray-1: #FFFFFF;
  --color-gray-2: #FAFBFB;
  --color-gray-3: #F5F6F8;
  --color-gray-4: #F1F2F4;
  --color-gray-5: #DADDE3;
  --color-gray-6: #B5BAC5;
  --color-gray-7: #848C9F;
  --color-gray-8: #525E79;
  --color-gray-9: #213053;
  --color-gray-10: #091940;
  --color-warning-1: #FFFFE6;
  --color-warning-2: #FFFBB0;
  --color-warning-3: #FFF587;
  --color-warning-4: #FFEC5E;
  --color-warning-5: #FFE136;
  --color-warning-6: #FFD20C;
  --color-warning-7: #D9AA00;
  --color-warning-8: #B38600;
  --color-warning-9: #8C6500;
  --color-warning-10: #664600;
  --color-success-1: #DFF7E8;
  --color-success-2: #A2EBBF;
  --color-success-3: #76DEA3;
  --color-success-4: #4DD18B;
  --color-success-5: #29C477;
  --color-success-6: #09B866;
  --color-success-7: #009152;
  --color-success-8: #006B40;
  --color-success-9: #00452C;
  --color-success-10: #001F14;
  --color-error-1: #FFF1E6;
  --color-error-2: #FFD0B0;
  --color-error-3: #FFB387;
  --color-error-4: #FF945E;
  --color-error-5: #FF7236;
  --color-error-6: #FF4D0D;
  --color-error-7: #D93300;
  --color-error-8: #B32400;
  --color-error-9: #8C1700;
  --color-error-10: #660E00;
  --color-info-1: var(--color-brand-1);
  --color-info-2: var(--color-brand-2);
  --color-info-3: var(--color-brand-3);
  --color-info-4: var(--color-brand-4);
  --color-info-5: var(--color-brand-5);
  --color-info-6: var(--color-brand-6);
  --color-info-7: var(--color-brand-7);
  --color-info-8: var(--color-brand-8);
  --color-info-9: var(--color-brand-9);
  --color-info-10: var(--color-brand-10);
  --color-cyan-1: var(--color-brand-1);
  --color-cyan-2: var(--color-brand-2);
  --color-cyan-3: var(--color-brand-3);
  --color-cyan-4: var(--color-brand-4);
  --color-cyan-5: var(--color-brand-5);
  --color-cyan-6: var(--color-brand-6);
  --color-cyan-7: var(--color-brand-7);
  --color-cyan-8: var(--color-brand-8);
  --color-cyan-9: var(--color-brand-9);
  --color-cyan-10: var(--color-brand-10);
  --color-emerald-1: var(--color-success-1);
  --color-emerald-2: var(--color-success-2);
  --color-emerald-3: var(--color-success-3);
  --color-emerald-4: var(--color-success-4);
  --color-emerald-5: var(--color-success-5);
  --color-emerald-6: var(--color-success-6);
  --color-emerald-7: var(--color-success-7);
  --color-emerald-8: var(--color-success-8);
  --color-emerald-9: var(--color-success-9);
  --color-emerald-10: var(--color-success-10);
  --color-moss-1: var(--color-success-1);
  --color-moss-2: var(--color-success-2);
  --color-moss-3: var(--color-success-3);
  --color-moss-4: var(--color-success-4);
  --color-moss-5: var(--color-success-5);
  --color-moss-6: var(--color-success-6);
  --color-moss-7: var(--color-success-7);
  --color-moss-8: var(--color-success-8);
  --color-moss-9: var(--color-success-9);
  --color-moss-10: var(--color-success-10);
  --color-orange-1: #FFFAE6;
  --color-orange-2: #FFEEB0;
  --color-orange-3: #FFE187;
  --color-orange-4: #FFD15E;
  --color-orange-5: #FFBF36;
  --color-orange-6: #FFAA0C;
  --color-orange-7: #D98600;
  --color-orange-8: #9e4a00;
  --color-orange-9: #8C4D00;
  --color-orange-10: #663500;
  --color-maple-1: #FFF0F7;
  --color-maple-2: #FFE3F1;
  --color-maple-3: #FFBADE;
  --color-maple-4: #FF91CE;
  --color-maple-5: #FF69C0;
  --color-maple-6: #F23DAD;
  --color-maple-7: #CC2993;
  --color-maple-8: #A61979;
  --color-maple-9: #800D5F;
  --color-maple-10: #590845;
  --color-purple-1: #F4F0FF;
  --color-purple-2: #ECE6FF;
  --color-purple-3: #CCBDFF;
  --color-purple-4: #A994FF;
  --color-purple-5: #846BFF;
  --color-purple-6: #5B42FF;
  --color-purple-7: #3F2ED9;
  --color-purple-8: #271DB3;
  --color-purple-9: #140F8C;
  --color-purple-10: #0A0A66;
  --color-indigo-1: #E6FEFF;
  --color-indigo-2: #B0F8FF;
  --color-indigo-3: #87F1FF;
  --color-indigo-4: #5EE7FF;
  --color-indigo-5: #36DAFF;
  --color-indigo-6: #0CC0F2;
  --color-indigo-7: #0099CC;
  --color-indigo-8: #0077A6;
  --color-indigo-9: #005780;
  --color-indigo-10: #003A59;
  --color-pine-1: var(--color-indigo-1);
  --color-pine-2: var(--color-indigo-2);
  --color-pine-3: var(--color-indigo-3);
  --color-pine-4: var(--color-indigo-4);
  --color-pine-5: var(--color-indigo-5);
  --color-pine-6: var(--color-indigo-6);
  --color-pine-7: var(--color-indigo-7);
  --color-pine-8: var(--color-indigo-8);
  --color-pine-9: var(--color-indigo-9);
  --color-pine-10: var(--color-indigo-10);
  --color-gold-1: var(--color-orange-1);
  --color-gold-2: var(--color-orange-2);
  --color-gold-3: var(--color-orange-3);
  --color-gold-4: var(--color-orange-4);
  --color-gold-5: var(--color-orange-5);
  --color-gold-6: var(--color-orange-6);
  --color-gold-7: var(--color-orange-7);
  --color-gold-8: var(--color-orange-8);
  --color-gold-9: var(--color-orange-9);
  --color-gold-10: var(--color-orange-10);
  --color-magenta-1: var(--color-maple-1);
  --color-magenta-2: var(--color-maple-2);
  --color-magenta-3: var(--color-maple-3);
  --color-magenta-4: var(--color-maple-4);
  --color-magenta-5: var(--color-maple-5);
  --color-magenta-6: var(--color-maple-6);
  --color-magenta-7: var(--color-maple-7);
  --color-magenta-8: var(--color-maple-8);
  --color-magenta-9: var(--color-maple-9);
  --color-magenta-10: var(--color-maple-10);
  --color-rotating-1: var(--color-cyan-6);
  --color-rotating-2: var(--color-emerald-6);
  --color-rotating-3: var(--color-moss-6);
  --color-rotating-4: var(--color-orange-6);
  --color-rotating-5: var(--color-maple-6);
  --color-rotating-6: var(--color-purple-6);
  --color-rotating-7: var(--color-indigo-6);
  --color-rotating-8: var(--color-pine-6);
  --color-rotating-9: var(--color-gold-6);
  --color-rotating-10: var(--color-magenta-6);
  --theme-font-family: "Helvetica Neue", "Helvetica", "Arial", "PingFangSC-Regular", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "sans-serif";
  --theme-bg-color-base: var(--color-gray-4);
  --theme-bg-color-light: var(--color-brand-1);
  --theme-body-bg: var(--color-gray-1);
  --theme-border-color-base: var(--color-gray-5);
  --theme-border-color-inverse: #fff;
  --theme-border-color-split: var(--color-gray-4);
  --theme-border-color-disabled: var(--color-gray-4);
  --theme-component-bg: var(--color-gray-1);
  --theme-component-focus-box-shadow: 0 0 0 1px var(--theme-border-focus-color);
  --theme-disabled-bg: var(--color-gray-4);
  --theme-disabled-color: var(--color-gray-6);
  --theme-error-color-active: var(--color-error-5);
  --theme-error-color-hover: var(--color-error-5);
  --theme-error-color: var(--color-error-5);
  --theme-heading-color: var(--theme-text-color);
  --theme-info-color-active: var(--color-info-5);
  --theme-info-color-hover: var(--color-info-5);
  --theme-info-color: var(--color-info-5);
  --theme-primary-color-active: var(--color-brand-6);
  --theme-primary-color-hover: var(--color-brand-6);
  --theme-primary-color: var(--color-brand-6);
  --theme-secondary-color-active: var(--color-brand-3);
  --theme-secondary-color-hover: var(--color-brand-1);
  --theme-secondary-color: var(--color-brand-2);
  --theme-success-color-active: var(--color-success-5);
  --theme-success-color-hover: var(--color-success-5);
  --theme-success-color: var(--color-success-5);
  --theme-text-color-secondary: var(--color-gray-8);
  --theme-text-color: var(--color-gray-9);
  --theme-placeholder-color: var(--color-gray-7);
  --theme-warning-color-active: var(--color-warning-5);
  --theme-warning-color-hover: var(--color-warning-5);
  --theme-warning-color: var(--color-warning-5);
  --theme-color-text: var(--color-gray-8);
  --theme-highlight-color: var(--color-error-5);
  --theme-outline-color: var(--color-brand-4);
  --theme-processing-color: var(--color-brand-6);
  --theme-border-focus-color: var(--color-brand-4);
  --theme-icon-color: var(--theme-text-color);
  --shadow-1: 0 4px 8px -2px rgba(9, 30, 66, 0.25), 0 0 1px 0 rgba(9, 30, 66, 0.31);
  --shadow-2: 0 8px 16px -4px rgba(9, 30, 66, 0.25);
  --item-hover-bg: var(--color-gray-3);
}
